body {
	background-color: #EFEFEF;
	font: 12px 'arial';
	line-height: 16px;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: blue;
}

.sprite {
	background: url('img/sprite.png') no-repeat;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.leftBox {
	border: 1px solid #CDCDCD;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #CDCDCD;
	width: 42.5%;
	height: 350px;
	overflow: hidden;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	background-color: #F9F9F9;
}

.lefttopBox {
	border-bottom: 1px solid #CDCDCD;
	color: #757575;
	float: left;
	background-color: #ffffff;
	padding-bottom: 40px;
	width: 100%;
}

.balanceDue {
	color: #757575;
	margin-top: 20px;
	text-align: center;
}

.payNowButton {
	background: #fcce44; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcce44 20%, #fcd255 42%, #febf01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#fcce44), color-stop(42%,#fcd255), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcce44 20%,#fcd255 42%,#febf01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcce44 20%,#fcd255 42%,#febf01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcce44 20%,#fcd255 42%,#febf01 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcce44 20%,#fcd255 42%,#febf01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcce44', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
	padding: 12px 50px;
	border: 1px solid #c99d00;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #cacaca;
	margin-top: 20px;
	margin-bottom: 12px;
	width: 100%;
}

.billPayment {
	float: left;
	width: 45%;
	margin-right: 10px;
	text-align: center;
}

.bill {
	margin-top: 35px;
	margin-bottom: 22px;
	color: #3E3730;
	font-size: 40px;
}

.autoPayment {
	float: left;
	width: 45%;
	text-align: center;
}

.leftbottomBox {
	background-color: #F9F9F9;
	color: #737375;
	padding: 5px;
	clear: both;
}

.leftbottomBox h5 {
	border-bottom: 1px dashed #c1c1c1;
	padding: 12px 0px 12px 12px;
	font-size: 13px;
	clear: both;
}

.leftbottomBox ul {
	list-style: none;
}

.leftbottomBox ul li {
	margin-top: 5px;
	padding-bottom: 4px;
	border-bottom: 1px solid #c1c1c1;
}

.leftbottomBox ul li:last-child {
	border-bottom: none;
}

.leftbottomBox ul li .date {
	font-size: 10px;
	padding: 0px 0px 0px 12px;
}

.leftbottomBox ul li .text {
	font-size: 12px;
	color: blue;
	padding: 0px 0px 0px 12px;
}

.rightBox {
	border: 1px solid #CDCDCD;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #CDCDCD;
	width: 42.5%;
	height: 350px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	background-color: #FEFEFE;
	font-family: 'arial';
	margin-bottom: 20px;
}

.rightBox .header {
	height: 23px;
	background-color: #F9F9F9;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #CDCDCD;
	padding: 15px;
}

.tickMark {
	background-position: -100px -250px;
	width: 22px;
	height: 23px;
	display: inline-block;
	float: left;
}

.rightBox .header h5 {
	color: #A7C725;
	float: left;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 4px;
}

.rightBox .header a {
	float: right;
	margin-top: 5px;
}

.rightBody {
	padding: 20px;
	padding-top: 40px;
}

.rightBody H2 {
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 30px;
}

.rightBody H2 sup {
	font-size: 15px;
}

.upgrade {
	border-right: 1px solid black;
	padding: 0px 5px 0px 0px;
}

.rightBody ul {
	list-style: none;
	margin-top: 40px;
}

.rightBody ul li {
	padding-top: 15px;
	border-top: 1px dashed #c1c1c1;
	padding-bottom: 15px;
}

.bottombox {
	clear: both;
	background-color: #FFFFFF;
	height: 200px;
	width: 100%;
}

.greyband {
	display: inline-block;
	margin: 7px;
	width: 98%;
	height: 75px;
	background-color: #EFEFEF;
}

.bluebuttons {
	float: left;
	width: 140px;
	text-align: center;
}

.bluegradbox {
	height: 80px;
	width: 80px;
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #00b7ea 0%, #0082b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00b7ea), color-stop(100%,#0082b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #00b7ea 0%,#0082b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #00b7ea 0%,#0082b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #00b7ea 0%,#0082b2 100%); /* IE10+ */
	background: linear-gradient(135deg,  #00b7ea 0%,#0082b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0082b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 5px solid white;
	border-radius: 15px;
	box-shadow: 1px 1px 10px #CDCDCD;
	margin: 25px 25px 10px 25px;
	float: left;
	text-align: center;
}
.bluebuttons strong {
	width: 120px;
	display: inline-block;
}

.greyband .bluebuttons .bluegradbox img {
	margin-top: 22px;
	display: inline-block;
}

.setup {
	background-position: -50px -154px;
	width: 50px;
	height: 40px;
}

.manage {
	background-position: -59px -206px;
	width: 31px;
	height: 35px;
}

.check {
	background-position: -55px -304px;
	width: 39px;
	height: 30px;
}
.move {
	background-position: -54px -1057px;
	width: 41px;
	height: 34px;
}

.get {
	background-position: -60px -502px;
	width: 29px;
	height: 44px;
}

.add {
	background-position: -56px -404px;
	width: 38px;
	height: 39px;
}

.users {
	background-position: -61px -254px;
	width: 28px;
	height: 37px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.wrapper {
		width: 750px;
	}
	.leftBox, .rightBox {
		margin-top: 30px;
		width: 87%;
	}
	.bottombox {
		width: 87%;
		overflow-x: auto;
		margin-left: 50px;
	}
}